*.class
*.classpath
*.project
*.mode1v3
*.pbxuser
*.swp
*.svn
*.mymetadata
*.log

# filter file
Thumbs.db
.DS_Store
.factorypath
.gitignore

# filter directory
.settings/
/target/
/test-output/
/logs/
/bin/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
